---
import Header from "../components/Header.astro"
import Post from "../components/Post.astro"
import "../style/global.css"

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("../posts/*.md")).sort(
	(a, b) =>
		new Date(b.frontmatter.updated || b.frontmatter.added).valueOf() -
		new Date(a.frontmatter.updated || a.frontmatter.added).valueOf()
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sainath Dushatti</title>
		<link rel="stylesheet" href="global.css">
	</head>
	<body>
		<Header />
		<content>
			<ul class="posts-list">
				{
					posts.map(
						({
							url,
							frontmatter: {description, slug, title, added: date},
						}) => <Post {title} {description} {date} {slug} />
					)
				}
			</ul>
		</content>
	</body>
</html>
