---
import Header from "../components/Header.astro";
import "../style/global.css";

const posts = await Astro.glob("../posts/*.md");

let {
    content: {title, description, added, updated, heroImage },
} = Astro.props;

added = new Date(added).toLocaleDateString(
	"en-us",
	{
		year: "numeric",
		month: "short",
		day: "numeric",
	}
);

if (updated) {
	updated = new Date(updated).toLocaleDateString(
		"en-us",
		{
			year: "numeric",
			month: "short",
			day: "numeric",
		}
	);
}
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <link rel="stylesheet" href="global.css">
	</head>
	<body>
		<Header />
		<main>
            <article>
                {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="article-title">{title}</h1>
				{updated ?
					<span><time>{added}</time>, last updated on <time>{updated}</time></span>
					:
					<span>{added && <time>{added}</time>}</span>
				}
				<hr />
				<div class="blog-post">
					<slot />
				</div>
            </article>
        </main>
	</body>
</html>